################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/TYDZHPTPrj/.vs/TYDZHPTPrj
/TYDZHPTPrj/Bul.Authority.Application/obj
/TYDZHPTPrj/Bul.Authority.DBConnection/obj
/TYDZHPTPrj/Bul.Authority.Entity/bin/Debug/net5.0
/TYDZHPTPrj/Bul.Authority.Entity/obj
/TYDZHPTPrj/Bul.Authority.Service/obj
/TYDZHPTPrj/Bul.Authority.Application/bin/Debug/net5.0
/TYDZHPTPrj/Bul.Authority.DBConnection/bin/Debug/net5.0
/TYDZHPTPrj/Bul.Authority.Service/bin/Debug/net5.0
/TYDZHPTPrj/Bul.Authority.DBConnection/Bul.Authority.DBConnection.csproj.user
/TYDZHPTPrj/Bul.System.Result/obj
/TYDZHPTPrj/Bul.System.Result/bin/Debug/net5.0
/TYDZHPTPrj/Bul.System.Extension/bin/Debug/net5.0
/TYDZHPTPrj/Bul.System.Extension/obj
/TYDZHPTPrj/Bul.Authority.WebApi/obj
/TYDZHPTPrj/Bul.Authority.WebApi/bin/Debug/net5.0
/TYDZHPTPrj/Bul.System.Common/bin/Debug/net5.0
/TYDZHPTPrj/Bul.System.Common/obj
TYDZHPTPrj/Bul.Authority.Db.Extension/obj/Bul.Authority.Db.Extension.csproj.nuget.dgspec.json
TYDZHPTPrj/Bul.Authority.Db.Extension/obj/Bul.Authority.Db.Extension.csproj.nuget.g.props
TYDZHPTPrj/Bul.Authority.Db.Extension/obj/Bul.Authority.Db.Extension.csproj.nuget.g.targets
TYDZHPTPrj/Bul.Authority.Db.Extension/obj/Debug/net5.0/Bul.Authority.Db.Extension.assets.cache
TYDZHPTPrj/Bul.Authority.Db.Extension/obj/Debug/net5.0/Bul.Authority.Db.Extension.csproj.AssemblyReference.cache
TYDZHPTPrj/Bul.Authority.Db.Extension/obj/Debug/net5.0/Bul.Authority.Db.Extension.GeneratedMSBuildEditorConfig.editorconfig
TYDZHPTPrj/Bul.Authority.Db.Extension/obj/project.assets.json
TYDZHPTPrj/Bul.Authority.Db.Extension/obj/project.nuget.cache
TYDZHPTPrj/Bul.Entity.Interface/obj/Bul.Entity.Interface.csproj.nuget.dgspec.json
TYDZHPTPrj/Bul.Entity.Interface/obj/Bul.Entity.Interface.csproj.nuget.g.props
TYDZHPTPrj/Bul.Entity.Interface/obj/Bul.Entity.Interface.csproj.nuget.g.targets
TYDZHPTPrj/Bul.Entity.Interface/obj/Debug/net5.0/Bul.Entity.Interface.assets.cache
TYDZHPTPrj/Bul.Entity.Interface/obj/Debug/net5.0/Bul.Entity.Interface.csproj.AssemblyReference.cache
TYDZHPTPrj/Bul.Entity.Interface/obj/Debug/net5.0/Bul.Entity.Interface.GeneratedMSBuildEditorConfig.editorconfig
TYDZHPTPrj/Bul.Entity.Interface/obj/project.assets.json
TYDZHPTPrj/Bul.Entity.Interface/obj/project.nuget.cache
/TYDZHPTPrj/Bul.Authority.Db.Extension/obj/Debug/net5.0
/TYDZHPTPrj/Bul.Entity.Interface/obj/Debug/net5.0
/TYDZHPTPrj/Bul.Entity.Interface/Bul.Entity.Interface.csproj.user
TYDZHPTPrj/Bul.Authority.Db.Extension/bin/Debug/net5.0/Bul.Authority.Db.Extension.deps.json
TYDZHPTPrj/Bul.Authority.Db.Extension/bin/Debug/net5.0/Bul.Authority.Db.Extension.dll
TYDZHPTPrj/Bul.Authority.Db.Extension/bin/Debug/net5.0/Bul.Authority.Db.Extension.pdb
TYDZHPTPrj/Bul.Authority.Db.Extension/bin/Debug/net5.0/Bul.Authority.DBConnection.dll
TYDZHPTPrj/Bul.Authority.Db.Extension/bin/Debug/net5.0/Bul.Authority.DBConnection.pdb
TYDZHPTPrj/Bul.Authority.Db.Extension/bin/Debug/net5.0/Bul.Entity.Interface.dll
TYDZHPTPrj/Bul.Authority.Db.Extension/bin/Debug/net5.0/Bul.Entity.Interface.pdb
TYDZHPTPrj/Bul.Authority.Db.Extension/bin/Debug/net5.0/Bul.System.Extension.dll
TYDZHPTPrj/Bul.Authority.Db.Extension/bin/Debug/net5.0/Bul.System.Extension.pdb
TYDZHPTPrj/Bul.Authority.Db.Extension/bin/Debug/net5.0/Bul.System.Result.dll
TYDZHPTPrj/Bul.Authority.Db.Extension/bin/Debug/net5.0/Bul.System.Result.pdb
TYDZHPTPrj/Bul.Authority.Db.Extension/bin/Debug/net5.0/ref/Bul.Authority.Db.Extension.dll
TYDZHPTPrj/Bul.Entity.Interface/bin/Debug/net5.0/Bul.Entity.Interface.deps.json
TYDZHPTPrj/Bul.Entity.Interface/bin/Debug/net5.0/Bul.Entity.Interface.dll
TYDZHPTPrj/Bul.Entity.Interface/bin/Debug/net5.0/Bul.Entity.Interface.pdb
TYDZHPTPrj/Bul.Entity.Interface/bin/Debug/net5.0/ref/Bul.Entity.Interface.dll
/TYDZHPTApp/tydzhpt-app/.vscode
/TYDZHPTPrj/.vs/ProjectEvaluation
